
.horizantal-nav-ul{
   list-style-type: none;
   display: flex;
   padding: 0;
   margin: 0;
}

.horizantal-nav-ul a{
    text-decoration: none;
    color: #4f5665;

}
.nav-item{
    margin-right: 30px;
}

.horizantal-nav-ul a:hover{
    color: red;
}