.lasles-footer{
    padding: 50px 0px;
}
.lasles-footer .container{
   background-color:#ffffff;
   height: 150px;
   padding-top: 30px ;
   border-radius: 10px;
   -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
}
.footer-col{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

