

.lasles-testmonial{
    width: 370px;
    height: 240px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    margin-right: 45px;
}

.red{
    border-color: red;
}

.testimonial-box-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}