.ft-600{
    font-weight: 600 !important;
}


@media screen and (min-width: 992px) {

    .md-display-none{
        display: none !important;
    }    
}

@media screen and (min-width: 992px){
body {
    font-size: larger;
}
}